<h2>Please wait while we wait for another player</h2>
<input type=hidden id="game_id" value=<%= session[:game_id] %>>
<script>

  $(document).ready(function() {
    setInterval(function(){
      $.ajax({
        type: "GET",
        url: "/check_status/" + $("#game_id").val(),
        data: {  }
      })
        .done(function( msg ) {
          if ( msg == "true") {
            window.location.assign("/game")
          }
        });
    }, 1000);
  });

</script>
